footer{
    margin: 100px 0 50px 5%;
    width: 90%;
    height: 80px;
    border: solid 3px black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*footer{
    margin: 100px 0 50px 0;
    float: right;
    width: 95%;
    border: solid 2px black;
    text-align: center;
}*/
