/* footer{
    margin-right: 2%;
    float: right;
    width: 95%;
    border: solid 2px black;
    text-align: center;
} */
footer{
    margin-bottom: 50px;
    height: 80px;
    border: solid 3px black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


