.galeriaIMG{
    clear: both;
    margin-bottom: 100px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.galeriaIMG .bastidorImg{
    flex:  0 1 330px;
    height: 420px;
    text-align: center;
    border: solid 3px black;
    margin: 2% 1%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.galeriaIMG .bastidorImg h3, p{
    width: 80%;
}
.galeriaIMG .bastidorImg img{
    width: 60%;
    max-height: 270px;
}
.galeriaIMG .bastidorImg span{
    display: block;
    margin-bottom: 10px;
}
.galeriaIMG .bastidorImg p{
    font-weight: bold;
}


