.galeriaIMG{
    width: 98%;
    margin: 0 auto;

    clear: both;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.galeriaIMG .bastidorImg{
    flex:  0 1 330px;
    height: 420px;
    text-align: center;
    border: solid 3px black;
    margin: 1%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.galeriaIMG .bastidorImg img{
    width: 50%;
    max-height: 250px;
}
.galeriaIMG .bastidorImg span{
    display: block;
    margin-bottom: 10px;
}


