body{
    width: 95%;
    margin: 0 auto;
    font-family: 'Noto Sans JP', sans-serif;
}
nav{
    margin: 2% 0 7% 0;
}
h1{
    margin-left: 1%;
    font-weight: normal;
}

nav ul li{
    
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 2%;
    border: solid 2px black;
    list-style: none;
    float: left;
}
nav ul li a{
    color: black;
    margin: 0 auto;
    text-decoration: none;
}

@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v74/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff2');
  }
  
  .material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
  .material-icons-outlined{
      text-align: center;
      margin-right: 10px;
  }